<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCity</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-default navigation-clean">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="#">SmartCity&nbsp;</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active" role="presentation"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Category<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="#">First Item</a></li>
                                <li role="presentation"><a href="#">Second Item</a></li>
                                <li role="presentation"><a href="#">Third Item</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding:20px;">
                    <h3>Heading</h3>
                    <p>Brahmanand Nagar , Kamatghar ,Bhiwandi, Thane</p><strong>Open Time : 9:00 AM</strong><strong style="margin:12px;">Close TIme : 10:00 PM</strong>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding:20px;">
                    <h3>Heading</h3>
                    <p>Brahmanand Nagar , Kamatghar ,Bhiwandi, Thane</p><strong>Open Time : 9:00 AM</strong><strong style="margin:12px;">Close TIme : 10:00 PM</strong>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding:20px;">
                    <h3>Heading</h3>
                    <p>Brahmanand Nagar , Kamatghar ,Bhiwandi, Thane</p><strong>Open Time : 9:00 AM</strong><strong style="margin:12px;">Close TIme : 10:00 PM</strong>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding:20px;">
                    <h3>Heading</h3>
                    <p>Brahmanand Nagar , Kamatghar ,Bhiwandi, Thane</p><strong>Open Time : 9:00 AM</strong><strong style="margin:12px;">Close TIme : 10:00 PM</strong>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding:20px;">
                    <h3>Heading</h3>
                    <p>Brahmanand Nagar , Kamatghar ,Bhiwandi, Thane</p><strong>Open Time : 9:00 AM</strong><strong style="margin:12px;">Close TIme : 10:00 PM</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <hr>
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">SmartCity © 2016</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>